{% extends "template.html" %}
{% block title %}NNM - Followed Artists{% endblock %}
{% set active_page = "followed_artists" %}

{% block content %}
<h1 class='title'>Followed Artists</h1>
<div class='all-artists'>
  <div class="row" style="height:100px;">
    {% for index, row in df.head(15).iterrows(): %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <!-- <img src="{{row['image']}}"> -->
          <div class="caption">
            <!-- <h3>
              <a href="https://open.spotify.com/artist/{{row['id']}}" target='_blank'>{{row['name']}}</a>
            </h3> -->
            <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:{{row['id']}}&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
            <p>...</p>
            {% for track in row['top_tracks']%}
              <iframe src="https://open.spotify.com/embed/track/{{track[0]}}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
